
@{
    ViewData["Title"] = "Accountant";
    Layout = "~/Views/Shared/accountant.cshtml";
      var id = ViewBag.session;
    var ph = ViewBag.ph;
    var email = ViewBag.email;
}

<h1>Accountant</h1>
  <h1>ID: @id</h1>
    <h1>Phone: @ph</h1>
    <h1>Email: @email</h1>

