@*@model IEnumerable<Electronics.Models.Usere>
*@

@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.session;
    var ph = ViewBag.ph;
    var email = ViewBag.email;
}

<h1>Customer</h1>

 

       

        @*<h1>YourID:@test</h1>*@
     <h1>Im customer</h1>
    <h1>ID: @id</h1>
    <h1>Phone: @ph</h1>
    <h1>Email: @email</h1>

         
